@model List<Zero_Hunger.Models.RequestDTO>
@{
    ViewBag.Title = "CheckRequest";
    Layout = "~/Views/Shared/_adminDashLayout.cshtml";
}

<h2>Check Request</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Restaurent Id</th>
        <th>Food Item</th>
        <th>Maximum Preserve Time</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
            {
        <tr>
            <td>@item.Cid</td>
            <td>@item.Restaurent_Id</td>
            <td>@item.Food_Item</td>
            <td>@item.Max_Preservation_Time</td>
            <td><a href="/Admin/AcceptRequest/@item.Cid" class="btn btn-success">Accept</a></td>
        </tr>
            }
</table>

