
@{
    ViewBag.Title = "CollectRequest";
    Layout = "~/Views/Shared/_newLayout2.cshtml";
}

<h2>Collect Request</h2>

<form method="post" class="form-group">
    <input class="form-control" type="text" name="Restaurent_Id" placeholder="Restaurent Id" /><br />
    <input class="form-control" type="text" name="Food_Item" placeholder="Food Name" /><br />
    <input class="form-control" type="text" name="Max_Preservation_Time" placeholder="Max Preservation Time" /><br />
    
   
    <input type="submit" />


</form>

